<div class="row">
    <div class="col-12 text-center">
        <strong>
            <h1 class="display-4 text-center text-primary">Label <Form></Form>
            </h1>
            <hr />
        </strong>
    </div>
    <div class="col-8 mx-auto mt-4">
        <!-- SPINNER -->
        <div class="col-12 text-center" *ngIf="loading">
            <div class="spinner-grow text-primary" role="status">
                <span class="visually-hidden">Loading...</span>
            </div>
            <div class="spinner-grow text-secondary" role="status">
                <span class="visually-hidden">Loading...</span>
            </div>
            <div class="spinner-grow text-success" role="status">
                <span class="visually-hidden">Loading...</span>
            </div>
            <div class="spinner-grow text-danger" role="status">
                <span class="visually-hidden">Loading...</span>
            </div>
            <div class="spinner-grow text-warning" role="status">
                <span class="visually-hidden">Loading...</span>
            </div>
            <div class="spinner-grow text-info" role="status">
                <span class="visually-hidden">Loading...</span>
            </div>
            <div class="spinner-grow text-light" role="status">
                <span class="visually-hidden">Loading...</span>
            </div>
            <div class="spinner-grow text-dark" role="status">
                <span class="visually-hidden">Loading...</span>
            </div>
        </div>

        <div class="card-text">
            <form [formGroup]="form" (ngSubmit)="onLabelSave()" *ngIf="!error">
                <div class="form-group">
                    <label for="description" class="fw-bold">Description:</label>
                    <textarea formControlName="description" [(ngModel)]="label.description" [readonly]="loading" [ngClass]="{
                    'is-invalid':
                      form.controls.description.touched &&
                      form.controls.description.invalid,
                    'is-valid':
                      form.controls.description.touched &&
                      form.controls.description.valid
                  }" class="form-control" id="description" rows="10" placeholder="Label Description ..."></textarea>
                    <div class="invalid-feedback" *ngIf="
                    form.controls.description.touched &&
                    form.controls.description.invalid
                  ">
                        Invalid label description
                    </div>
                </div>
                <button type="submit" #saveBtn [disabled]="form.invalid || loading"
                    class="mt-4 btn-block btn btn-warning btn-sm btn-block">
                    <i class="fas fa-sign-in-alt"></i> Save
                </button>
            </form>
            <div class="alert alert-danger" role="alert" *ngIf="!loading && error">
                An error occurred!
            </div>
        </div>
    </div>
</div>