<div class="row">
    <div class="col-12 text-center mb-3">
        <strong>
            <h1 class="display-4 text-center text-cocus">Reviews</h1>
            <a routerLink="/reviews/{{review?.id}}/process">
                <button class="btn btn-primary btn-sm mb-3" *ngIf="review?.reviewed">
                    <i class="fas fa-microchip"></i> Edit Review
                </button>
            </a>
        </strong>
        <hr />
    </div>

    <div class="col-8 mx-auto mt-2 text-center">
        <div *ngIf="loading" class="spinner-border text-primary" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
    </div>

    <div class="col-8 mx-auto mt-2 text-center">
        <div *ngIf="!loading && review?.id == ''" class="text-primary" role="status">
            <div class="alert alert-secondary" role="alert">
                <i class="fas fa-info"></i> No review found!
            </div>
        </div>
    </div>

    <ng-container *ngIf="!loading && review?.id !== ''">
        <div class="col-12 text-center mx-auto">
            <ng-containe *ngIf="!review?.reviewed else reviewedCase">
                <span class="badge bg-dark">Unreviewed</span>
            </ng-containe>
            <ng-template #reviewedCase>
                <b>{{review?.lastReviewDate | date:'medium' }}</b> |
                <span class="badge bg-success">Reviewed</span>
            </ng-template>
        </div>
        <div class="col-8">
            <h3>Case Content:</h3>
            <p class="border border-4" style="font-size: 20px">{{review?.content}}</p>
        </div>
        <div class="col-4">
            <h3 class="text-center mx-auto">Assigned Labels</h3>
            <ul class="list-group">
                <ng-container *ngFor="let label of review?.conditions">
                    <li class="list-group-item d-flex justify-content-between align-items-center"
                        *ngIf="review?.conditions?.includes(label)">
                        {{label?.description}}
                    </li>
                </ng-container>
            </ul>
            <div *ngIf="review?.conditions == null || review?.conditions?.length == 0" class="alert alert-secondary"
                role="alert">
                <i class="fas fa-info"></i> No assigned labels!
            </div>
        </div>
    </ng-container>

</div>