<div class="cover row d-flex text-center text-white bg-dark"
    style="position:fixed; padding:0; margin:0; left:0; width: 100%; height: 100%;">

    <div class="cover-container d-flex h-100 p-3 mx-auto flex-column">

        <header class="mb-auto">
            <div>
                <h3 class="float-md-start mb-0">Company For Customer PT</h3>
                <nav class="nav nav-masthead justify-content-center float-md-end">
                    <a class="nav-link active" aria-current="page">Home</a>
                </nav>
            </div>
        </header>

        <div class="col-12">
            <h1 style="color: #d78f25">COCUS PT</h1>
            <p class="lead">At COCUS we are working at the critical intersection of IT and business. True to our name
                COCUS – Company for Customers – we are proud to develop tailored IT solutions with focus on the Internet
                of Things, Blockchain, Data Analytics and Information Security. Our customers are world-leaders in der
                respective industries – telecommunications, tourism, media, automotive, transport and logistics –
                impacting the life of millions across the world.</p>
            <p><strong>Our offices are located in:</strong> Porto, Portugal | Eschborn, Germany | Düsseldorf, Germany | Basel Switzerland
            </p>
            <p>We partner with our customers, to understand their requirements and deliver high scalable software that
                meets the most demanding standards in terms of performance and reliability.</p>
            <p>Working at COCUS means to work with great people, across cultures, projects and technologies. We offer
                trainings and encourage self-development and decision making. We are proud of our agile, lean and
                collaborative environment and ensure benefits tailored to our flexible culture emphasizing work-life
                balance.</p>
        </div>

        <footer class="mt-auto text-white-50">
        </footer>
    </div>
</div>